# Logs
npm-debug.log*

# Coverage directory used by istanbul
coverage

# Dependency directories
jspm_packages

# Sauce
src/*

# Tests
test/*

# Other non-essential stuff
.editorconfig
.gitignore
.gitattributes
.travis.yml
